/* configuracoes principais */
	html{
		scroll-behavior: smooth;
		margin-left: 7%;
		margin-right: 7%;
	}

	body{
		background: #FFFFFF;
		line-height: 22px;
	}
	
	h1{
		color: #272727;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		text-align: center;
	}
	
	p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #6C757D;
	font-size: 15px;
	}

	.h4{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #6C757D;
		font-size: 14px;
	}
	
	.descricao{
		padding-bottom: 20px;
		text-align: center;
	}
	
	.card-title{
		color: #272727;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
	}

/* navbar */
	.navbar{
		min-height:80px;
	}
	
	.icone-navbar{
		font-size: 24px;
	}

/* linha abaixo do titulo */
	.linha{
		width: 180px;
	}

	.linha-icone{
		font-size: 20px;
		position: absolute;
		color: #0D47A1;
	}

	.linha-circulo{
		font-size: 26px;
		position: absolute;
		color:white;
	}

/* sessao pet */
	.pilar{
		background-color: #F8F8F8;
		transition: background-color 0.5s;
	}
	
	.pilar:hover{
		background-color: #E6E6E6;
	}
	
	.pet-icone{
		font-size: 24px;
		color: #0D47A1;
		margin-bottom: 20px;
	}
	
	.pilar .card-body{
		margin-left: 28px;
		margin-right: 28px;
		margin-top: 18px;
		margin-bottom: 10px;
	}
	
	.pilar .card-text{
		text-align: left;
	}
		
	.pilar .card-title{
		text-align: left;

	}
	
/*sessao proposta*/
	.proposta{
		text-align: center;
		padding-bottom: 20px;
	}
	
	.proposta-texto{
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.icone-proposta{
		font-size: 24px;
		color: #0D47A1;
		margin-bottom: 20px;
		background-color: #F8F8F8;
		transition: background-color 0.5s,
					color 0.5s;
	}
	
	.proposta:hover > .icone-proposta{
		background-color: #0D47A1;
		color: white;
	}

/*sessao atividades*/
	.atividade .card-text{
		text-align: justify;
	}
	
	.atividade .card-img-top{
		padding-bottom: 20px;
	}
	
	.atividade .card-title{
		text-align: left;
	}
	
	.atividade{
		margin-bottom: 30px;
		background-color: #F8F8F8;
		transition: transform 0.2s ease-in-out;
	}
	
	.atividade:hover{
		transform: scale(1.03);
	}
	
	.atividade .btn{
		background-color: #0D47A1;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		color: white;
		font-size: 16px;
		transition: background-color 0.2s;
	}
	
	.atividade .btn:hover{
		background-color: #0C2C84;
	}
	
	.atividade img{
		width:100%;
		height: 220px;
		object-fit: cover;
	}
	
	.atividade .curso-online{
		padding: 10px;
		margin: 5px;
		background-color: #0D47A1;
		font-size: 20px;
		color: white;
		position: absolute;
		border-radius: 10px;
	}